VITE_INCIDENT_API_URL=http://localhost:8084/api/v1
VITE_ALERT_API_URL=http://localhost:8089/api/v1
VITE_SHELTER_API_URL=http://localhost:8093/api/v1
VITE_ROUTE_SERVICE_URL=http://localhost:8096
VITE_DONATION_API_URL=http://localhost:8100/api/v1
