VITE_RISK_API_URL=http://localhost:8081/api/v1
VITE_INCIDENT_API_URL=http://localhost:8084/api/v1
VITE_NOTIFICATION_API_URL=http://localhost:8090/api/v1
VITE_GUIDE_API_URL=http://localhost:8086/api/v1
VITE_SHELTER_API_URL=http://localhost:8093/api/v1
VITE_DONATION_API_URL=http://localhost:8100/api/v1
